# Python
__pycache__/
.venv/

# IDE / Editor
.idea/
.vscode/

# Testing
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

# OS-specific
.DS_Store

# Logs
logs/

# Environment
.env

# Development
docs/
.aider*
.claude/
CLAUDE.md
